.container section{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 15px;
    background-color: #2196F3;
    padding: 10px;
}
article{
  background-color: #eee;
  border: 1px solid #000;
  padding: 20px;
  font-size: 30px;
  text-align: center;

}